<%= form_for @port, html: { multipart: true } do |f| %>
  <% if @port.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@port.errors.count, "error") %> prohibited this port from being saved:</h2>

      <ul>
      <% @port.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Imgur %><br>
    <%= f.text_field :Imgur, class:'enterfield' %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:'enterfield' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
