  
<div id="navbar">
  <a style="font-size:30px;cursor:pointer" onclick="openNav()" id="logo">JD<img src="https://i.imgur.com/sr53vLD.png" id="arrow"></a>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="https://i.imgur.com/sr53vLD.png" id="arrowclose"></a>
    <div id='profcont'>
      <a class="mybutton" href="#"></a>
    </div>
    <div id="bio">
      <h1 id="logo"><img src="https://i.imgur.com/MjZVbIG.jpg" id='profpic'></h1>
      <br />
      <p>An 18 year old junior developer and audio technician with a 
      strong interest in coding and music aspiring to be have a 
      full-time career as a coder and an audio engineer.</p>
    </div>
    
    <div id='social'>
      <a href="https://github.com/JayDeehM" target="_blank" class='logolinks'><img src="https://i.imgur.com/J8yyYrE.png" class='logopic'></a> 
      <a href="https://www.linkedin.com/in/jd-mateo-5a8302144/" target="_blank" class='logolinks'><img src="https://i.imgur.com/TIEQ4He.png" class='logopic'></a> 
      <a href="https://www.facebook.com/jd.mateo.96" target="_blank" class='logolinks'><img src="https://i.imgur.com/3F7YSCw.png" class='logopic'></a> 
    </div>
</div>

<div id="main">
  
<p id="notice"><%= notice %></p>
    
      <img src="https://i.imgur.com/fw8jyWk.png" id="fp">

    <div id='log'>
      <p>An 18 year old junior developer and audio technician with a 
      strong interest in coding and music aspiring to be have a 
      full-time career as a coder and an audio engineer.</p>
    </div>


    <span id='add-portfolio1'><%= link_to 'New Skill', new_skill_path %></span> 
    <div id='skills'>
    <h1>Languages</h1>
      <% @skills.each do |skill| %>
          <div class="card" id='skil'>
            <div class='card-img-top', alt='Card image cap'><%= image_tag skill.image.url(:medium) %></div>
              <div class="card-block">
                <h1 class="card-title"><%= skill.title %></h1>
                  <p id='update-portfolio' class="card-text">
                    <%= link_to 'Edit', edit_skill_path(skill) %> |
                    <%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
              </div>
          </div>
      <% end %>
    </div> <br />


    <span id='add-portfolio'><%= link_to 'New Port', new_port_path %></span> 
    <div id='ports'>
    <h1>Projects</h1>
      <% @ports.each do |port| %>
          <div class="card" style="text-align: center;">
            <div class='card-img-top', alt='Card image cap'><%= image_tag port.image.url(:medium) %></div>
            <div class="card-block">
              <h1 class="card-title"><%= port.title %></h1>
                <p id='update-portfolio' class="card-text">
                  <%= link_to 'Edit', edit_port_path(port) %> |
                  <%= link_to 'Destroy', port, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
            </div>
          </div>
      <% end %>
    </div> 


  

  
</div>



